.videoCard {
	max-width: 300px;
}

.videoCard .poster {
	height: 160px;
	width: 240px;
	max-width: 320px;
	text-align: center;
	/* padding-top: 20%; */
	font-size: 42px;
	color: white;
	border-radius: 20px;
	background: var(--black-alt);
	overflow: hidden;
}

.videoCard video {
	height: 160px;
	width: 240px;
}

.playing {
	margin: 2rem auto;
}

.playing .poster {
	width: 100%;
	max-width: 1024px;
}

.playing video {
	max-width: 100%;
}

.thumbnail {
	height: 100%;
	font-size: 4rem;
	display: grid;
	place-items: center;
	color: var(--grey);
}
