.img {
	height: 180px;
	width: 280px;
	max-width: 320px;
	text-align: center;
	padding-top: 20%;
	font-size: 42px;
	color: white;
	border-radius: 20px;
	background: linear-gradient(green, 30%, lime);
}
